.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-decoration: none;
}

.imgPoster{
    width: auto;
    height: 160px;
    border-radius: 6px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imgPoster:hover{
    filter: blur(1px);
}

.titleGame{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: white;
}

.text_white{
    color: white;
}