.pagination {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(52, 219, 66);
    cursor: pointer;
}


.pagination span {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(52, 219, 66);
}

.pagination span.active {
    background-color: #55ad4d;
    
}

.pagination span:hover:not(.active) {background-color: rgb(49, 173, 80); }